<section *ngIf="!loading" class="chat">
  <div class="container-fluid">
    <div class="row" style="background-color: white;">

      <div class="messages-box">
        <div class="row">
          <div class="col-lg-4 col-md-12 no-pdd">
            <div class="messages-container">
              <div class="message-header">
                <div class="message-title">
                  <div class="search-area">
                    <div class="input-field">
                      <input placeholder="Search" type="text" [(ngModel)]="searchTerms" [ngbTypeahead]="search" />
                      <!-- [ngbTypeahead]="search" -->
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>

              </div>
              <div class="messages-list" *ngIf="!checkUserAvailabe()">
                <ul>
                  <li>
                    <div class=" user-message-details">

                      <div class="user-message-info">
                        <div class="user-display">

                          <h4>No conversations available</h4>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="messages-list" *ngIf="checkUserAvailabe() && !loading && searchTerms.length==0">
                <ul style="list-style-type: none;" *ngFor="let conversation of userConversations">
                  <li (mouseenter)="setFocusConversation(conversation._id,true)"
                    (mouseleave)="setFocusConversation(conversation._idfalse)"
                    [ngClass]="conversation._id == currentConversation?._id ? 'message-item active' : 'message-item'">
                    <div class="user-message-details" (click)="onOpenConvers(conversation._id)">
                      <div class="user-message-img">
                        <span *ngIf="conversation.users[indexUserDest(conversation._id)].connection.status"
                          class="online-status on-picture"></span>
                        <img src="assets/img/users/9.jpg" class="img-circle" alt="">
                      </div>
                      <div class="user-message-info">
                        <div style="align-self: center;">
                          <div class="user-display">

                            <h4 [ngClass]="lastMessageSeen(conversation._id) ? 'read-userinfo' : 'not-read-userinfo'">
                              {{conversation.users[indexUserDest(conversation._id)].name}}
                              {{conversation.users[indexUserDest(conversation._id)].surname}}</h4>
                          </div>

                          <div style="display: flex; align-items: center;">
                            <span style="font-weight: 400;"
                              *ngIf="conversation.messages[conversation.messages.length-1].sender == connectedUser._id">Vous:
                            </span>

                            <p [ngClass]="lastMessageSeen(conversation._id) ? 'message-field-read' : 'message-field-not-read'"
                              *ngIf="conversation.messages.length>0">

                              {{conversation.messages[conversation.messages.length-1].content}}

                            </p>

                            <span class="message-time">.
                              {{conversationDateFormat(conversation.messages[conversation.messages.length -1].date)}}</span>

                          </div>

                          <p [ngClass]="lastMessageSeen(conversation._id) ? 'message-field-read' : 'message-field-not-read'"
                            *ngIf="conversation.messages.length==0">
                            say hello to {{conversation.users[indexUserDest(conversation._id)].surname}}<span
                              class="message-time">.
                              {{conversationDateFormat(conversation.messages[conversation.messages.length -1].date)}}</span>
                          </p>

                        </div>
                        <div *ngIf="focusConversation.id==conversation._id && focusConversation.status"
                          class="notification-container">
                          <div class="dropdown">
                            <i class=" fas fa-ellipsis-h" id="dropdownMenuButton" data-toggle="dropdown"></i>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="focusConversation.id!=conversation._id || !focusConversation.status"
                          class="notification-container">
                          <img *ngIf="showSeenPicture(conversation._id)" src="assets/img/users/6.jpg"
                            class="seen-message-image" alt="">
                          <span *ngIf="!lastMessageSeen(conversation._id)" class="message-notification"></span>
                        </div>
                      </div>
                      <!--/ user-message-info -->
                    </div>
                    <!--/ user-message-details -->
                  </li>
                </ul>
              </div>

              <div class="messages-list" *ngIf="!loadingSearch && checkUserAvailabe() && searchTerms.length>0">
                <ul style="list-style-type: none;" *ngFor="let user of searchedUsers">
                  <li class="message-item">
                    <div class="user-message-details" (click)="createdConversation(user)">
                      <div class="user-message-img">
                        <span class="online-status on-picture"></span>
                        <img src="assets/img/users/9.jpg" class="img-circle" alt="">
                      </div>
                      <div class="user-message-info">
                        <div style="align-self: center;">
                          <div class="user-display">

                            <h4 class="not-read-userinfo">{{user.name}}
                              {{user.surname}}</h4>
                          </div>

                          <!-- <p class="message-field-not-read">
                            {{conversation.messages[conversation.messages.length-1].content}}<span
                              class="message-time">. 15:55</span></p> -->

                        </div>
                      </div>
                      <!--/ user-message-info -->
                    </div>
                    <!--/ user-message-details -->
                  </li>
                </ul>
              </div>
              <!--/ messages-list -->

            </div>
            <!--/ messages-container-->
          </div>
          <!--/ col-lg-4 -->

          <div *ngIf="selectedConversation && !loadingMessages" class="col-lg-8 col-md-12 pd-right-none pd-left-none">
            <div class="conversation-box">
              <div class="conversation-header">
                <div class="user-message-details">
                  <div class="user-message-img">
                    <img src="assets/img/users/6.jpg" class="img-responsive img-circle" alt="">
                  </div>
                  <div class="user-message-header">
                    <h4 class="user-name">{{currentConversation.users[destinationUser].name}}
                      {{currentConversation.users[destinationUser].surname}}
                    </h4>
                    <div style="display: flex; align-items: center;">
                      <span *ngIf="currentConversation.users[destinationUser].connection.status"
                        class="online-status"></span>
                      <h5 *ngIf="currentConversation.users[destinationUser].connection.status"
                        style="margin: 0; font-weight: 400;color: #999999;">En ligne</h5>
                      <h5 *ngIf="!currentConversation.users[destinationUser].connection.status"
                        style="margin: 0; font-weight: 400;color: #999999;">
                        En ligne
                        {{TransformDateOnline(currentConversation.users[destinationUser].connection.lastVisit)}}</h5>

                    </div>

                  </div>

                  <i class="fas fa-info-circle user-profile-info"></i>
                  <!--/ user-message-info -->
                </div>
                <!--/ user-message-details -->
              </div>
              <!--/ conversation-header -->

              <div class="conversation-container">
                <div *ngIf="currentConversation.messages.length==0">
                  <div style="display: flex;justify-content: center;">
                    <span class="time-posted" style="color: #999999;">1:55 PM</span>
                  </div>
                  <div style="display: flex;justify-content: center;">
                    <div style="display: flex;">
                      <img src="assets/img/users/6.jpg" style="border: 2px solid white;" class="image-in-container"
                        alt="">
                      <img src="assets/img/users/6.jpg" style="margin-left: -11px; border: 2px solid white;"
                        class="image-in-container" alt="">
                    </div>

                  </div>
                  <div style="display: flex;justify-content: center; color: #999999; font-size: 12px;">
                    Bienvenue à vous deux sur Messenger.
                  </div>
                </div>
                <div *ngIf="currentConversation.messages.length>0">
                  <div *ngFor="let message of currentConversation.messages">
                    <div *ngIf=" !checkSenderMsg(message.sender)" class="convo-box convo-left">
                      <div class="convo-area-left">
                        <div style="display: flex;">
                          <img src="assets/img/users/6.jpg" alt="" style="border-radius: 50%;height: 50px;width: 50px;">
                        </div>
                        <div class="convo-message-left">
                          <p>{{message.content}}</p>
                          <span class="tooltiptext-left">
                            <p>{{transformDateMessage(message.date)}}</p>
                          </span>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="checkSenderMsg(message.sender)" class="convo-box convo-right">
                      <div class="convo-area-right">
                        <div class="convo-message-right">
                          <span class="tooltiptext-right">
                            <p>{{transformDateMessage(message.date)}}</p>
                          </span>
                          <div class="convo-message-content">
                            <p>{{message.content}}</p>
                            <span *ngIf="message.seen.state && isLastMessage(message._id)" class="time-posted">Vu:
                              {{formatSeenDate(message.seen.seenDate)}} </span>
                          </div>

                        </div>

                        <div style="display: flex;">
                          <img src="assets/img/users/2.jpg" alt="" style="border-radius: 50%;height: 50px;width: 50px;">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!--/ convo-box -->
                <!--/ convo-box -->

              </div>
              <!--/ conversation-container -->
              <div class="type_messages">
                <div class="input-field">
                  <i class="fas fa-image send-message-icon" style="font-size: 24px; padding-right: 10px;"
                    (click)="openFileImage()"></i>
                  <textarea [minRows]="1" autosize placeholder="Type a new message" name="currentMessage"
                    id="currentMessage" (focus)="messageField()" [(ngModel)]="currentMessage"></textarea>
                  <ul class="imoji">
                    <li>
                      <i *ngIf="currentMessage!=''" class="fas fa-paper-plane send-message-icon"
                        (click)="onSendMessage()"></i>
                      <i *ngIf="currentMessage==''" class="fas fa-thumbs-up send-message-icon"></i>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
